# Folder virtual environment
venv/
.venv/

# Folder setting VS Code
.vscode/
.env
# File temporary python
__pycache__/
.pytest_cache/
allure-results/
log/
*.py[cod]
upload.bat
pytest.ini
browserstack-cli.exe
browserstack.yml
sasa